ipykernel>=6.4.1
ipython>=7.28.0
ipython-genutils>=0.2.0
ipywidgets>=7.6.5
jupyter>=1.0.0
jupyter-client>=7.0.6
jupyter-console>=6.4.0
jupyter-core>=4.8.1
jupyterlab-pygments>=0.1.2
jupyterlab-widgets>=1.0.2